main{

    font-family: "Binance Plex", -apple-system, BlinkMacSystemFont, Arial, "Helvetica Neue", sans-serif;

.titulo_principal {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1px;
}

.subtitulo_principal {
    text-align: center;
    color: grey;
}
}
